<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="header-resume-info__name"><h1>JOHN WATSON</h1></div>
    <div class="header-resume-info__specialty"><h2>Graphic Designer</h2></div>
    <div class="header-resume-info__address">You Street | Your State | More Deteils</div>
    <div class="header-resume-info__contact">Phonenumber | email@name.com | ww.yoururl.de</div>
    <div class="header-resume-info__line"></div>
</div>
<div class="block-main">
    <div class="sidebar-left">
        <div class="photo">
            <img class="logo" src="../images/logo.svg">
        </div>
        <div class="skills">
            <div class="title-square">Skills</div>
            <div class="skill-progress">
                <div class="skill-progress__title">Communication</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__80"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Creativity</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__70"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Teamwork</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__60"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Organization</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__50"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Leadership</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__60"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Teamplayer</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__70"></div></div>
            </div>
            <div class="title-square">Software</div>
            <div class="skill-progress">
                <div class="skill-progress__title">Photoshop</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__50"></div></div>
            </div>
            <div class="skill-progress">
                <div class="skill-progress__title">Coding / CSS</div>
                <div class="skill-progress__scale"><div class="skill-progress__scale__80"></div></div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="title-square">About me</div>
        <div class="text-block">
            <b>I'M John Watson</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna purus. Maecenas in mauris et urna dictum porta. Aenean eget ultricies massa. Proin at augue magna.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna purus. Maecenas in mauris et urna dictum porta. Aenean eget ultricies massa. Proin at augue magna.
        </div>
        <div class="title-square">Education</div>
        <div class="education">
            <div class="education__date">2003 / 2008</div>
            <div class="education-info">
                <div class="education-info__name">Faculty of Engineering & Design, University of Orlando</div>
                <div class="education-info__degree">Master of Since</div>
            </div>
        </div>
        <div class="education">
            <div class="education__date">2008 / 2011</div>
            <div class="education-info">
                <div class="education-info__name">Faculty of Engineering & Design, University of Orlando</div>
                <div class="education-info__degree">Bachlore of Since</div>
            </div>
        </div>
        <div class="title-square">Experience</div>
        <div class="experience">
            <div class="experience__date">01.2011 - 08.2017</div>
            <div class="experience__post">Junior Java Developer</div>
            <div class="experience__company">Company | www.company.com</div>
            <div class="experience__description"><b>Description.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna purus. Maecenas in mauris et urna dictum porta. Aenean eget ultricies massa.</div>
        </div>
        <div class="experience">
            <div class="experience__date">01.2011 - 08.2017</div>
            <div class="experience__post">Junior Java Developer</div>
            <div class="experience__company">Company | www.company.com</div>
            <div class="experience__description"><b>Description.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna purus. Maecenas in mauris et urna dictum porta. Aenean eget ultricies massa.</div>
        </div>
        <div class="experience">
            <div class="experience__date">01.2011 - 08.2017</div>
            <div class="experience__post">Junior Java Developer</div>
            <div class="experience__company">Company | www.company.com</div>
            <div class="experience__description"><b>Description.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna purus. Maecenas in mauris et urna dictum porta. Aenean eget ultricies massa.</div>
        </div>
        <div class="title-square">Reference</div>
        <div class="reference-block">
            <div class="reference">
                <div class="reference__name">Michael Johns</div>
                <div class="reference__company">Manager /Company</div>
                <div class="reference__tel">T. +1 0123 456 789</div>
                <div class="reference__email">E. Michael Johns@gmail.com</div>
            </div>
            <div class="reference">
                <div class="reference__name">Michael Johns</div>
                <div class="reference__company">Manager /Company</div>
                <div class="reference__tel">T. +1 0123 456 789</div>
                <div class="reference__email">E. Michael Johns@gmail.com</div>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>